.sample-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #00385c;

  .button-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    gap: 15px;
    border-bottom: 1px solid #00385c;
    padding-right: 10px;

    .button {
      cursor: pointer;
      padding: 5px;

      &:hover {
        color: #01578d;
      }
      &.active {
        background-color: #00385c;
        color: white;
        font-style: bold;
        border-radius: 5px;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .content {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0;
    min-height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
}
